body {
    padding: 0;
    margin: 0;
    background-image: url('indexback.jpg'); /* 替换 'your-background-image.jpg' 为你的背景图片路径 */
    background-size: cover; /* 让背景图片覆盖整个视口 */
    background-attachment: fixed; /* 将背景图片固定在视口中 */
    background-color: rgba(255, 255, 255, 0.9); /* 添加带有透明度的背景色 */
  }
 
  /*.container {
    position: relative;
    margin-top: 100px;
  }*/

  
  .container img {
    display: block;
    width: 100%;
    height: auto;
  }
  nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: "KAITI", "sans-serif";
    height: 150px;
    /*background-color: #ababb4;*/
    padding: 0 5%;
  }
  nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #fff;
  }
  nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav .links li {
    list-style: none;
  }
  nav .links a {
    display: block;
    padding: 1em;
    font-size: 32px;
    font-weight: bold;
    color: #070000;
    text-decoration: none;
    position: relative;
  }
  nav .links a:hover {
    color: white;
  }
  nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  nav .links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: white;
  }
  #nav-toggle {
    position: absolute;
    top: -100px;
  }
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  @media screen and (max-width: 768px) {
    nav .logo {
      float: none;
      width: auto;
      justify-content: center;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }
    nav .links a {
      font-size: 20px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
  }
  body {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal; line-height: 1.3;
    font-family: "Microsoft YaHei", HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }	
    ul{ list-style: disc; }	
    ol{ list-style: decimal; }
    li{ padding: 3px 0px; }
    H1{margin-bottom:20px; font-size:30px; font-weight:700; color:#454545; line-height:50px; text-align:center;}
    H1.tit-line{background:url(tit-line.png) center center no-repeat}
    .mb5{margin-bottom:5px;}
    .tit_sub{margin:0 auto; text-align:center; font-size:30px; font-style:italic}
    .tit_more{margin:0 auto; padding-top:20px; padding-bottom:20px; text-align:center; font-size:18px; font-style:italic}
    .tit_more a{color:#1d7aae}
    .tit_more a:hover{color:#333}
    .left,.l{display:inline;float:left;}
    .right,.r{display:inline;float:right;}    
    table, table tr, table tr td, table tr th {
      border-color: #e5e5e5;
  }
  
  table th {
      color: #666666;
  }
  
  table th {
      background-color: #fdfdfd;
  }
    /*--- web safe font ---*/
    #destinations {

     /*max-width: 10px; /* 设置容器的最大宽度 */
     margin: 0 auto; /* 居中对齐 */
     padding: 300px; /* 添加一些左右内边距 */
    /* align-items: center;*/
    }
      
     #destinations ul {
     /* 使用max-width提供响应式宽度，width设置为100%以自适应父容器 */
     max-width: 1800px; /* 如果需要，可以调整此值 */
     width: 100%;
     list-style: none;
     padding: 0;
     margin: 0 auto; /* 居中对齐ul元素 */
     display: flex;
     flex-wrap: wrap;
     justify-content: center; /* 水平居中对齐 */
     }

    #destinations ul li {
     /* 移除float属性，由于flexbox已经处理了布局 */
     margin: 5px; /* 按需调整间距 */
    width: 200px; /* 或者使用flex属性来设置基础大小和成长因子 */
    height: 220px;
    position: relative;
    overflow: hidden;
    background-color: #7f7f7f;
    }
    #destinations ul li.first {width:400px; }
    #destinations ul li img{width:100%;height:auto;position: relative;}
    #destinations ul li a span{display:block; position:absolute; bottom:0px; width:100%; height:47px; background:url(mask.png) repeat-x}
    #destinations ul li a:hover span{height:230px; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; background:#000;}
    #destinations ul li em{position:absolute; bottom:8px; margin-left:10px; width:100%; height:auto; font-size:18px; font-style:normal; line-height:21px; color:#fff; text-shadow: 2px 2px 2px #000;}
      

  #introduce .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table {
    width: 1800px;
    height: 900px;
    margin: 10px auto; /* 设置左右外边距为 auto */
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    position: relative;
    overflow: hidden;
    justify-self: center;
}

.table img {
  width: 100%;
  height: auto;
}
.table:hover {
    border-color: #386b52;
}

.table:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
/*
.h3 {
    margin: 0;
    font-size: 40px;
    text-align: center;
}
*/
.overlay p {
    margin: 5px 0 0;
    font-size: 36px;
    text-align: center;
}
